.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  max-width: 100%;
  flex: 1 0 calc(33.33% - 20px);
}

.movie-card .card-img-top {
  max-height: 500px;

}