.movie-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card .card-img-top {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.movie-card a {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}

.movie-card a:hover {
  background-color: #0056b3;
}